    body, html {
        margin: 0;
        height: 100%;
        overflow: hidden;
    }

    #canvas-container {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    #ui-container {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        pointer-events: none;
    }

    #controls, #quote-controls {
        pointer-events: auto;
        background-color: white;
        padding: 10px;
        border-radius: 5px;
        margin: 15px;
        z-index: 1000;
    }

    #controls {
        max-width: 300px; /* Ensure controls don't expand full width */
    }

    #quote-controls {
        max-width: 300px;
        margin-left: auto; /* Aligns the quote-controls to the right on desktop */
        box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    }

    .radio-inline {
        display: inline-block;
        padding: 0 5px;
    }

    #controls label {
        font-weight: bold;
        display: block; /* Ensure labels are on their own line */
    }
    #controls label.radio-inline{
        display: inline-block;
    }

    #controls input[type=number] {
        border: solid 1px lightslategray;
    }
    #menu-toggle {
        display: none; 
    }
        /* Lightbox styles */
    #lightbox {
        display: none; /* Hide lightbox on page load */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8); /* Dark background */
        z-index: 1001; /* Ensure it overlays the other content */
        justify-content: center;
        align-items: center;
    }

    #lightbox-content {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        max-width: 500px;
        width: 100%;
        position: relative;
    }

    #close-lightbox {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        font-size: 24px;
        color: #333;
    }

    .tooltip {
        position: relative;
        display: inline-block;
    }

    .question-mark {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: #333;
        color: #fff;
        text-align: center;
        border-radius: 50%;
        cursor: pointer;
        font-size: 14px;
        line-height: 20px;
        margin-left: 8px;
        font-weight: bold;
        position: relative;
        z-index: 2;
    }

    .tooltip .tooltip-text {
        visibility: hidden;
        width: 220px;
        background-color: #333;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 8px 12px;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity 0.3s;
        max-width: 300px;
        word-wrap: break-word;
        text-align: left;
    }

    .tooltip .tooltip-text::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #333 transparent transparent transparent;
    }

    .tooltip:hover .tooltip-text {
        visibility: visible;
        opacity: 1;
    }
    .tooltip table td:first-child {
    border-right: 1px solid white;
    padding-right: 10px;
    }
    .tooltip table td, .tooltip table th {
        padding: 2px 10px;
    }



    /* Mobile and Tablet Styles */
    @media (max-width: 1024px) {
        #menu-toggle {
            display: block;
            position: fixed;
            top: 15px;
            left: 15px;
            z-index: 1002;
            background-color: white;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
            pointer-events: auto; /* Ensure it's clickable */
            transition: right 0.3s ease, left 0.3s ease;
        }

        #quote-controls {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            max-width: none;
            max-height: 200px; /* Adjust this value as needed */
            margin: 0;
            padding: 15px;
            box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
            border-radius: 0;
            overflow-y: auto; /* Enable scrolling if content overflows */
            display: flex;
            justify-content: space-between; /* Separate text and button */
            align-items: center; /* Align content vertically */
        }

        #quote-controls .mb-4 {
            flex: 1; /* Ensure the text section takes up available space */
        }

        #quote-controls button {
            flex: 0 0 auto; /* Keep the button size fixed */
            margin-left: 10px; /* Space between the text and button */
        }

        #controls {
            max-width: none;
            width: 100%;
            margin: 0;
            padding-top: 75px;
            transform: translateX(-100%);
            transition: transform 0.3s ease;
            position: fixed;
            top: 0;
            left: 0;
            height: auto;
            z-index: 1001;
            overflow-y: auto;
            background-color: rgba(0, 0, 0, 0.15);
            box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
        }

        #controls.open {
            transform: translateX(0);
        }
        #lightbox {
            overflow-y: auto;
        }
        #lightbox-content {
            overflow-y: auto;
            max-height: 90vh;
            padding-top: 70px;
        }
    }